:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --verde-claro: #DCF3A9; 
  --verde-medio: #9ECC3B; 
  --verde-escuro:  #133F26;
  --fundo-verde-transparente: rgba(158, 204, 59, 0.6);
}

*, 
*:after,
*:before {
    box-sizing: border-box;
    text-decoration: none;
}
body{
  font-size: 100%;
  list-style-type: none;
}